@use "normalize";
@use "main";
@use "variables";
@use "typography";

html, body {
	background: variables.$light;
}

.container {
	margin: 0 auto;
	padding: 1rem;
	@include variables.for-tablet-portrait-up {
		max-width: 704px;
	}
	@include variables.for-tablet-landscape-up {
		max-width: 948px;
	}
	@include variables.for-desktop-up {
		max-width: 1248px;
	}
	@include variables.for-big-desktop-up {
		max-width: 1600px;
	}
}

nav {
	ul {
		list-style: none;
		padding: 0;
	}
}

.banner {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	@include variables.transition;
	background: rgba($color: variables.$light, $alpha: 1.0);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@include variables.for-tablet-landscape-up {
		&-scrolled {
			background: none;
			top: 1rem;
			background: rgba($color: variables.$light, $alpha: 0);
			.logo {
				width: 150px !important;
			}
		}
		&__container {
			background: rgba($color: variables.$light, $alpha: .95	);
			@include variables.borderradius;
		}
	}
}

.logo {
	width: 40px;
	@include variables.transition;
	img {
		max-width: 100%;
	}
	@include variables.for-tablet-portrait-up {
		width: 200px;
	}
	@include variables.for-desktop-up {
		width: 250px;
	}
}

.mainnav {
	display: flex;
	gap: 1rem;
	a {
		color: variables.$orange;
		text-decoration: none;
	}
}

.bannermenu {
	display: none;
	text-transform: uppercase;
	@include variables.for-tablet-landscape-up {
		display: block;
	}
	ul {
		display: flex;
		gap: 1rem;
		font-weight: bold;
		margin: 0;
		outline: 1px solid;
		ul {
			display: none;
			flex-direction: column;
			position: absolute;
			background: variables.$light;
			@include typography.sub-size;
			width: max-content;
			top: 1.75rem;
			
			li {
				padding: .25rem .5rem;
			}
		}
		li:hover {
			position: relative;
			ul {
				display: flex;
			}
		}
	}
}

.home {
	section {
		padding: 6rem 0 4rem;
		@include variables.sectioncard;
	}
}

main {
	margin-top: 70px;
	@include variables.for-tablet-portrait-up {
		margin-top: 93px;
	}
	@include variables.for-desktop-up {
		margin-top: 108px;
	}
}

.hero {
	position: absolute;
	position: relative;
	padding: 10rem 0 !important;
	@include variables.screen;
	z-index: 3;
	&__video {
		position: absolute;
		z-index: 0;
		object-fit: cover;
		width:100%;
		height:100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		&::-webkit-media-controls {
			display:none !important;
		}
	}
	&__container {
		position: relative;
		z-index: 2;
		color: #fff;
	}
	&__content {
		max-width: 900px;
	}
}

.aboutkb {
	background: variables.$light;
	position: relative;
	z-index: 2;
	&__container {
		@include variables.grid;
		gap: 1rem;
		@include variables.for-tablet-landscape-up {
			grid-template-columns: repeat(2, 1fr);
		}
		img {
			max-width: 100%;
			@include variables.borderradius;
		}
	}
}

.ourwork {
	background: variables.$beige;
	&__card {
		border-radius: 2rem 2rem 0 0;
  		overflow: hidden;
		background: darken($color: variables.$beige, $amount: 5);
		padding: 1rem;
		padding-bottom: 3rem;
		display: grid;
		gap: 1rem;
		&:nth-of-type(2) {
			background: darken($color: variables.$beige, $amount: 10);
			margin-top: -2rem;
		}
		&:nth-of-type(3) {
			background: darken($color: variables.$beige, $amount: 15);
			margin-top: -2rem;
		}
		&:nth-of-type(4) {
			background: darken($color: variables.$beige, $amount: 20);
			margin-top: -2rem;
		}
		@include variables.for-desktop-up {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	
	&__articlecardcontainer {
		display: grid;
		gap: 1rem;
		@include variables.for-tablet-landscape-up {
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;
		}
		@include variables.for-desktop-up {
			grid-column: span 3;
		}
	}
}

.articlecard {
	border: 1px solid rgba($color: variables.$dark, $alpha: .1);
	padding: 1rem;
	@include variables.borderradius;
	&__thumb {
		@include variables.borderradius;
		overflow: hidden;
		margin: -1rem -1rem 1rem;
	}
	&__catcontainer {
		a {
			@include typography.sub-size;
			text-decoration: none;
		}
	}
	img {
		max-width: 100%;
	}
	h3 {
		@include typography.h6-size;
		margin-bottom: 0;
		a {
			text-decoration: none;
		}
	}
}